.carousel1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.carousel1 img {
  height: 300px;
  padding: 10px;
  border-radius: 10px;
}

.carousel1 h4,
h2 {
  text-align: center;
  padding: 5px;
}

h1 {
  text-align: center;
  margin: 30px;
}

.carousel1 button {
  padding: 5px;
  border: none;
  outline: none;
  background-color: #ff5959;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 12px;
  font-size: 15px;
  text-align: center;
}

.carousel1 button:hover {
  background-color: white;
  color: #ff5959;
  border: 2px solid #ff5959;
}
